<div class="container">
    <form action="">
        <div class="form-group">
            <label for="civil_structure">Civil Structure:</label>
            <input type="text" class="form-control" id="civil_structure" name="civil_structure" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="sub_location">Sub Location:</label>
            <input type="text" class="form-control" id="sub_location" name="sub_location" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="unit_name">Unit name:</label>
            <input type="text" class="form-control" id="unit_name" name="unit_name" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="comm_on">Commissioned on:</label>
            <input type="text" class="form-control" id="comm_on" name="comm_on" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="cool_capacity">Cooling Capacity:</label>
            <input type="text" class="form-control" id="cool_capacity" name="cool_capacity" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="elec_req">Electricity Requirement:</label>
            <input type="text" class="form-control" id="elec_req" name="elec_req" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="toc">Type of compressor:</label>
            <input type="text" class="form-control" id="toc" name="toc" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="comm_cost">Commission cost:</label>
            <input type="text" class="form-control" id="comm_cost" name="comm_cost" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="estm_life">Estimated Life:</label>
            <input type="text" class="form-control" id="estm_life" name="estm_life" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="pre_val">Present Value:</label>
            <input type="text" class="form-control" id="pre_val" name="pre_val" style="background-color: #f2f2f2;">
        </div>
    </form>
</div>