<div class="container">
    <form action="">
        <div class="form-group">
            <label for="civil_structure">Civil Structure:</label>
            <input type="text" class="form-control" id="civil_structure" name="civil_structure" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="sub_location">Sub Location:</label>
            <input type="text" class="form-control" id="sub_location" name="sub_location" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="lof">List of Fittings:</label>
            <input type="text" class="form-control" id="lof" name="lof" style="background-color: #f2f2f2;">
        </div>
    </form>
</div>