<div class="container">
    <form action="">
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="tov">Type of vehicle:</label>
            <input type="text" class="form-control" id="tov" name="tov" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input type="text" class="form-control" id="brand" name="brand" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="model">Model:</label>
            <input type="text" class="form-control" id="model" name="model" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="purchased_year">Purchased year:</label>
            <input type="text" class="form-control" id="purchased_year" name="purchased_year" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="chasis_no">Chasis no:</label>
            <input type="text" class="form-control" id="chasis_no" name="chasis_no" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="reg_exp_date">Registered Expiry date:</label>
            <input type="text" class="form-control" id="reg_exp_date" name="reg_exp_date" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="ins_exp_date">Insurance Expiry date:</label>
            <input type="text" class="form-control" id="ins_exp_date" name="ins_exp_date" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="driver_name">Driver name:</label>
            <input type="text" class="form-control" id="driver_name" name="driver_name" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="estm_life">Estimated Life:</label>
            <input type="text" class="form-control" id="estm_life" name="estm_life" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="purchase_cost">Purchase cost</label>
            <input type="text" class="form-control" id="purchase_cost" name="purchase_cost" style="background-color: #f2f2f2;">
        </div>
        <div class="form-group">
            <label for="pre_val">Present value</label>
            <input type="text" class="form-control" id="pre_val" name="pre_val" style="background-color: #f2f2f2;">
        </div>
    </form>
</div>